<div class="second-opinion-container">
  <app-dashboard-filter 
    title="Second Opinion" 
    icon="fas fa-users" 
    [foundCount]="totalItems">
  </app-dashboard-filter>

  <app-exam-results
    [exams]="exams"
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage"
    [totalPages]="totalPages"
    [totalItems]="totalItems"
    [itemsPerPageOptions]="itemsPerPageOptions"
    [pageType]="'second-opinion'"
    [noResultsIcon]="'fas fa-users'"
    [noResultsTitle]="'No unassigned exams found'"
    [noResultsMessage]="'All exams have been assigned to radiologists.'"
    (itemsPerPageChange)="onItemsPerPageChange($event)"
    (pageChange)="onPageChange($event)"
    (addLabel)="addLabel($event)"
    (assignUser)="assignUser($event)"
    (shareExam)="shareExam($event)"
    (moveToWorklist)="moveToWorklist($event)"
    (pauseExam)="pauseExam($event)"
    (openExam)="openExam($event)">
    (patientView)="openPatientView($event)">
  </app-exam-results>
</div>